<section class="form-block">
    <form class="form container">
        <div class="form-group">
            <label for="hour">Hours</label>
            <input id="hour" class="form-control" onfocus="this.value=''" type="number" placeholder="Enter number from 0 to 12">
        </div>
        <div class="form-group">
            <label for="minute">Minutes</label>
            <input id="minute" class="form-control" onfocus="this.value=''" type="number" placeholder="Enter number from 0 to 59">
        </div>
        <button id="submitButton" class="btn btn-primary">Calculate</button>
    </form>
    <div class="answer">Angle
        <div class="angle" id="angle"></div>
        <div class="error" id="error"></div>
    </div>
</section>